package main

import (
	"database/sql"
)

{{ range $ii, $KaynakBilgi := . }}
//{{$ii}}. {{$KaynakBilgi.StructName}}  **************************************************************************************************
func {{$KaynakBilgi.StructName}}Select(db *sql.DB, id int) {{$KaynakBilgi.StructName}} {
	item := {{$KaynakBilgi.StructName}}{}
	if id > 0 {
		row := db.QueryRow("Select {{ range $i, $e := $KaynakBilgi.KaynakBilgi }}{{if $e.DbName}}{{ if eq $i 0 }}{{$e.DbName}}{{ else }}, {{$e.DbName}}{{ end }}{{ end }}{{ end }} from {{$KaynakBilgi.TableName}} where id=?", id)
		err := row.Scan({{ range $i, $e := $KaynakBilgi.KaynakBilgi }}{{if $e.GoName}}{{ if eq $i 0 }}&item.{{$e.GoName}}{{ else }}, &item.{{$e.GoName}}{{ end }}{{ end }}{{ end }})
		CheckErr(err)
	}
	return item
}

func {{$KaynakBilgi.StructName}}Insert(db *sql.DB, item {{$KaynakBilgi.StructName}}) int64 {
	var r int64
	stmt, err := db.Prepare("INSERT INTO {{$KaynakBilgi.TableName}}({{ range $i, $e := $KaynakBilgi.KaynakBilgi }}{{if $e.DbName}}{{ if eq $i 0 }}{{ else }}{{ if eq $i 1 }}{{$e.DbName}}{{ else }}, {{$e.DbName}}{{ end }}{{ end }}{{ end }}{{ end }}) VALUES ({{ range $i, $e := $KaynakBilgi.KaynakBilgi }}{{if $e.DbName}}{{ if eq $i 0 }}{{ else }}{{ if eq $i 1 }}?{{ else }},?{{ end }}{{ end }}{{ end }}{{ end }})")
	CheckErr(err)
	defer stmt.Close()
	ret, err := stmt.Exec({{ range $i, $e := $KaynakBilgi.KaynakBilgi }}{{if $e.GoName}}{{ if eq $i 0 }}{{ else }}{{ if eq $i 1 }}item.{{$e.GoName}}{{ else }}, item.{{$e.GoName}}{{ end }}{{ end }}{{ end }}{{ end }})
	CheckErr(err)
	r,err = ret.LastInsertId()
	CheckErr(err)
	return r
}

func {{$KaynakBilgi.StructName}}Update(db *sql.DB, item {{$KaynakBilgi.StructName}}) {
	stmt, err := db.Prepare("Update {{$KaynakBilgi.TableName}} set {{ range $i, $e := $KaynakBilgi.KaynakBilgi }}{{if $e.DbName}}{{ if eq $i 0 }}{{ else }}{{ if eq $i 1 }}{{$e.DbName}}=?{{ else }}, {{$e.DbName}}=?{{ end }}{{ end }}{{ end }}{{ end }} WHERE id=?")
	CheckErr(err)
	defer stmt.Close()
	_, err2 := stmt.Exec({{ range $i, $e := $KaynakBilgi.KaynakBilgi }}{{if $e.GoName}}{{ if eq $i 0 }}{{ else }}{{ if eq $i 1 }}item.{{$e.GoName}}{{ else }}, item.{{$e.GoName}}{{ end }}{{ end }}{{ end }}{{ end }}, item.Id)
	CheckErr(err2)
}

{{end}}