package main

import (
	"net/http"
)



func HandleFuncAdd() {
{{ range $ii, $KaynakBilgi := . }}{{if $KaynakBilgi.SinifAdi}}
    http.HandleFunc("/{{$KaynakBilgi.SinifAdi | ToLover}}ler.html",{{$KaynakBilgi.SinifAdi}}lerHandler)
	http.HandleFunc("/{{$KaynakBilgi.SinifAdi | ToLover}}.html",{{$KaynakBilgi.SinifAdi}}Handler)
	http.HandleFunc("/{{$KaynakBilgi.SinifAdi | ToLover}}kaydet",{{$KaynakBilgi.SinifAdi}}KaydetHandler)
	http.HandleFunc("/{{$KaynakBilgi.SinifAdi | ToLover}}sil",{{$KaynakBilgi.SinifAdi}}SilHandler)

{{ end }}{{ end }}
}
//-----------------------------------------------------------------------

{{ range $ii, $KaynakBilgi := . }}{{if $KaynakBilgi.SinifAdi}}

{{if $KaynakBilgi.DetailTablo }}
func {{$KaynakBilgi.SinifAdi}}lerHandler(response http.ResponseWriter, request *http.Request) {
	request.ParseForm()
	MasterId:=FormValueInt64(request,"id")
	fData  := {{$KaynakBilgi.SinifAdi}}SelectMasterId(db,MasterId)
    context := Context{Data: fData, MasterId:MasterId}
	context.Gezgin=GetGezgin(MasterId,"{{$KaynakBilgi.SinifAdi | ToLover}}")

	render(response, request, "{{$KaynakBilgi.SinifAdi | ToLover}}ler", context)
}
{{else}}
func {{$KaynakBilgi.SinifAdi}}lerHandler(response http.ResponseWriter, request *http.Request) {
	fData  := {{$KaynakBilgi.SinifAdi}}SelectAll(db)
	context := Context{Data: fData}
	context.Gezgin=GetGezgin(0,"{{$KaynakBilgi.SinifAdi | ToLover}}ler")

	render(response, request, "{{$KaynakBilgi.SinifAdi | ToLover}}ler", context)
}
{{ end }}


func {{$KaynakBilgi.SinifAdi}}Handler(response http.ResponseWriter, request *http.Request) {
    request.ParseForm()
    MasterId :=int64(0)
	id := FormValueInt64(request,"id")
    item := {{$KaynakBilgi.SinifAdi}}Select(db, id)
    {{ range $i, $ee := $KaynakBilgi.Alanlar }}{{ if eq $ee.IsForeignKey true }}
    MasterId =item.{{ $ee.AlanAdi}}
    if item.{{ $ee.AlanAdi}}==0{
        item.{{ $ee.AlanAdi}}=FormValueInt64(request,"MasterId")
        MasterId =item.{{ $ee.AlanAdi}}
    }
    {{ end }}{{ end }}
    context := Context{Data: item}

    context.Gezgin=GetGezgin(MasterId,"{{$KaynakBilgi.SinifAdi | ToLover}}")

	render(response, request, "{{$KaynakBilgi.SinifAdi | ToLover}}", context)

}

func {{$KaynakBilgi.SinifAdi}}KaydetHandler(response http.ResponseWriter, request *http.Request) {
	request.ParseForm()
	MasterId :=int64(0)

	id := FormValueInt64(request,"id")
	item := {{$KaynakBilgi.SinifAdi}}Select(db, id)

    {{$KaynakBilgi.SinifAdi}}FormValue(&item, request)


    {{ range $i, $e := $KaynakBilgi.Alanlar }}
        {{ if eq $e.IsForeignKey true }}
    	    MasterId =item.{{ $e.AlanAdi}}
        {{ end }}
    {{ end }}

	context := Context{}

	if Message := {{$KaynakBilgi.SinifAdi}}KaydetValidate(&item); len(Message) > 0 {
		if id > 0 {
			{{$KaynakBilgi.SinifAdi}}Update(db, item)
		    context.Message = "Kayıt güncellendi"
		} else {
			item.Id = {{$KaynakBilgi.SinifAdi}}Insert(db, item)
		    context.Message = "Yeni kayıt yapıldı"
		}
	}else{
    		context.Message=Message[0]
    }

	context.Data = item
	context.Gezgin=GetGezgin(MasterId,"{{$KaynakBilgi.SinifAdi | ToLover}}")
	render(response, request, "{{$KaynakBilgi.SinifAdi | ToLover}}", context)

}

func {{$KaynakBilgi.SinifAdi}}SilHandler(response http.ResponseWriter, request *http.Request) {
	request.ParseForm()
	MasterId :=int64(0)
	id := FormValueInt64(request,"id")
	item := {{$KaynakBilgi.SinifAdi}}Select(db, id)
	{{ range $i, $e := $KaynakBilgi.Alanlar }}
        {{ if eq $e.IsForeignKey true }}
    	    MasterId =item.{{ $e.AlanAdi}}
        {{ end }}
    {{ end }}


	context := Context{}

		if id > 0 {
			{{$KaynakBilgi.SinifAdi}}Delete(db, id)
			context.Message = "Kayıt Silindi"
		} else{
			context.Message = "Kayıt Bulunamadı"
		}

	context.Data = item
	context.Gezgin=GetGezgin(MasterId,"{{$KaynakBilgi.SinifAdi | ToLover}}")
	render(response, request, "{{$KaynakBilgi.SinifAdi | ToLover}}", context)
}




{{ end }}{{ end }}