package main

import (
	"database/sql"
)

func CheckErr(err error) {
	if err != nil {
		panic(err)
	}
}

func InitDB(filepath string) *sql.DB {
	db, err := sql.Open("sqlite3", filepath)
	CheckErr(err)

	if db == nil {
		panic("db nil")
	}
	return db
}

func CreateTable(db *sql.DB) {
	// create table if not exists
	sql_table := `
{{ range $ii, $KaynakBilgi := . }}
CREATE TABLE IF NOT EXISTS {{$KaynakBilgi.TabloAdi}}(
{{ range $i, $e := $KaynakBilgi.Alanlar }} {{ if eq $i 0 }}  {{$e.DbAlanAdi}} {{$e.DbAlanVeriTuru}}{{ else }}
  ,{{$e.DbAlanAdi}} {{$e.DbAlanVeriTuru}} {{ end }} {{ end }}
);
{{ end }}
`
	_, err := db.Exec(sql_table)

	CheckErr(err)

}

