package main

import (
	_"time"
)
{{ range $ii, $KaynakBilgi := . }}
type {{$KaynakBilgi.StructName}} struct {
{{ range $i, $e := $KaynakBilgi.KaynakBilgi }}  {{$e.GoName}}   {{$e.GoTip}}
{{ end }}}
{{ end }}