package main

import (
	"time"
)
{{ range $ii, $KaynakBilgi := . }}
type {{$KaynakBilgi.SinifAdi}} struct {
{{ range $i, $e := $KaynakBilgi.Alanlar }}  {{$e.AlanAdi}}   {{$e.AlanVeriTuru}}
{{ end }}}


{{ end }}