{{"{{"}}define "form-field"}}

    {{ range $i, $e := .Alanlar }} {{if $e.AlanAdi}}{{ if eq $e.HtmlInputType "hidden" }}{{ else }}
        {{$e.AlanAdi}} :<br>{{ end }}
        <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}"><br>
    {{ end }}{{ end }}

{{"{{"}}end}}