{{"{{"}}define "page-title"}} {{ .SinifAdi }} Tanıtımı{{"{{"}}end}}

{{"{{"}}define "page-body"}}


    <form action="{{ .SinifAdi | ToLover }}kaydet" method="post">

    {{"{{"}}template "form-field" .}}

    <input type="submit" value="Kaydet">

    <a href="{{ .SinifAdi | ToLover }}sil?id={{"{{"}}.Data.Id}}">
        <input type="button" onclick="return KayitSilinsinmi()" value="Sil" />
    </a>

    {{"{{"}}.Message {{"}}"}}

</form>


{{"{{"}}end}}


{{"{{"}}define "js"}}
    <script src="../js/faDialog.js"></script>
{{"{{"}}end}}