{{"{{"}}define "form-field"}}

    {{ range $i, $e := .Alanlar }}
        {{if $e.AlanAdi}}
            {{ if eq $e.HtmlInputType "checkbox" }}
                {{"{{"}}if eq .Data.{{$e.AlanAdi}} true {{"}}"}}
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}"checked>
                {{"{{"}}else}}
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}">
                {{"{{"}}end}}
                    {{$e.AlanAdi}}<br>
            {{ else }}
                {{ if eq $e.HtmlInputType "hidden" }}
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}">
                {{ else }}
                    {{$e.AlanAdi}} :<br>
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" list="{{$e.AlanAdi | ToLover}}List" value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}"><br>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

{{"{{"}}end}}