{{"{{"}}define "form-field"}}

    {{ range $i, $e := .Alanlar }}
        {{if $e.AlanAdi }}
        {{if $e.DbAlanAdi}}
            {{if $e.MasterTableName }}
            {{$e.AlanAdi}} :<br>
            <input type="{{$e.HtmlInputType}}" id="{{$e.AlanAdi | ToLover}}" name="{{$e.AlanAdi | ToLover}}"  value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}">
            <input type="text" id="{{$e.AlanAdi | ToLover}}aciklama" readonly value="">
            <input type="button" onclick ="{{$e.MasterTableName}}Click('{{$e.AlanAdi | ToLover}}aciklama','{{$e.AlanAdi | ToLover}}')" value="..."> <br>

            {{else if eq $e.HtmlInputType "checkbox" }}
                {{"{{"}}if eq .Data.{{$e.AlanAdi}} true {{"}}"}}
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}"checked>
                {{"{{"}}else}}
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}">
                {{"{{"}}end}}
                    {{$e.AlanAdi}}<br>

            {{else if eq $e.HtmlInputType "textarea" }}
                    {{$e.AlanAdi}} :<br>
                    <textarea name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} rows="4" cols="30">{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}</textarea><br>

            {{else if (eq $e.HtmlInputType "radio") (eq $e.AlanVeriTuru "bool") }}
                {{"{{"}}if eq .Data.{{$e.AlanAdi}} true {{"}}"}}
                    <input type="radio" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} value="0"> {{ (index $e.AnahtarDegerler 0).Deger }} <br>
                    <input type="radio" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} value="1" checked> {{ (index $e.AnahtarDegerler 1).Deger }} <br>
                {{"{{"}}else}}
                    <input type="radio" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} value="0" checked> {{ (index $e.AnahtarDegerler 0).Deger }} <br>
                    <input type="radio" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} value="1"> {{ (index $e.AnahtarDegerler 1).Deger }} <br>

                {{"{{"}}end}}

            {{else if eq $e.HtmlInputType "date" }}
                    {{$e.AlanAdi}} :<br>
                    <input type="date" placeholder="YYYY-MM-DD" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} value="{{"{{"}}.Data.{{$e.AlanAdi}}.Format "2006-01-02" {{"}}"}}">
                    <br>
            {{else if eq $e.HtmlInputType "number" }}
                    {{$e.AlanAdi}} :<br>
                    <input type="number" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} step="any"  value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}"><br>

            {{ else }}
                {{ if eq $e.HtmlInputType "hidden" }}
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}"  value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}">

                {{ else }}
                    {{$e.AlanAdi}} :<br>
                    <input type="{{$e.HtmlInputType}}" name="{{$e.AlanAdi | ToLover}}" {{$e | MyAtribute}} list="{{$e.AlanAdi | ToLover}}List" value="{{"{{"}}.Data.{{$e.AlanAdi}} {{"}}"}}"><br>
                {{ end }}
            {{ end }}
        {{ end }}
        {{ end }}

    {{ end }}

{{"{{"}}end}}




