{{"{{"}}define "page-title"}} {{.SinifAdi }} Kart Tanıtımı{{"{{"}}end}}

{{"{{"}}define "page-body"}}

    <a href="{{.SinifAdi | ToLover }}ler.html?Ara={{"{{"}}.Ara}}&id={{"{{"}}.KayitId2}}"><button> < </button></a>
    <a href="{{.SinifAdi | ToLover }}ler.html?Ara={{"{{"}}.Ara}}&id={{"{{"}}.KayitId}}"><button> > </button></a>
    <a href="{{.SinifAdi | ToLover }}.html?id=0"><button> + </button></a>

    <form action="{{.SinifAdi | ToLover }}ler.html?id=0" method="get">
        <input type="search" name="Ara" autofocus value="{{"{{"}}.Ara}}">
        <input type="submit" value="Ara">
    </form>

<table>
    <caption>
        <a>{{.SinifAdi | ToLover }} Listesi</a>
    </caption>

    <tr>
    {{"{{"}}template "tablo-header" .}}

     <th>İşlev</th>
    </tr>

    {{"{{"}}range .Data}}
    <tr>
        {{"{{"}}template "tablo-column" .}}

        <td><a href="\{{.SinifAdi | ToLover }}.html?id={{"{{"}}.Id}}"> Detay </a>
        <a href="\sinifler.html?id={{"{{"}}.Id}}"> Sinif </a></td>

    </tr>
    {{"{{"}}end}}

</table>

{{"{{"}}end}}
