{{"{{"}}define "tablo-header"}}

    {{ range $i, $e := .Alanlar }}
        {{ if $e.AlanAdi }}
            {{ if $e.DbAlanAdi }}
                <th>{{$e.AlanAdi}}</th>
            {{ end }}
        {{ end }}
    {{ end }}

{{"{{"}}end}}


{{"{{"}}define "tablo-column"}}

    {{ range $i, $e := .Alanlar }}
         {{ if $e.AlanAdi }}
                {{ if $e.DbAlanAdi }}
                    <td>{{"{{"}} .{{$e.AlanAdi}} {{"}}"}}</td>
            {{ end }}
        {{ end }}
    {{ end }}

{{"{{"}}end}}