{{"{{"}}define "tablo-header"}}

    {{ range $i, $e := .Alanlar }} {{if $e.AlanAdi}}
        <th>{{$e.AlanAdi}}</th>
    {{ end }} {{ end }}

{{"{{"}}end}}


{{"{{"}}define "tablo-column"}}

    {{ range $i, $e := .Alanlar }} {{if $e.AlanAdi}}
        <td>{{"{{"}} .{{$e.AlanAdi}} {{"}}"}}</td>
    {{ end }} {{ end }}

{{"{{"}}end}}