{{define "tablo-header"}}
                <th>Id</th>
                <th>IsId</th>
                <th>SinifId</th>
                <th>AlanAdi</th>
                <th>AlanVeriTuru</th>
                <th>DbAlanAdi</th>
                <th>DbAlanVeriTuru</th>
                <th>HtmlInputType</th>
                <th>IsForeignKey</th>
                <th>Requered</th>
                <th>MinLength</th>
                <th>MaxLength</th>
                <th>MinValue</th>
                <th>MaxValue</th>
                <th>RegexPatern</th>
                <th>MasterTableName</th>
                <th>LikeField</th>
{{end}}
{{define "tablo-column"}}
                    <td>{{ .Id }}</td>
                    <td>{{ .IsId }}</td>
                    <td>{{ .SinifId }}</td>
                    <td>{{ .AlanAdi }}</td>
                    <td>{{ .AlanVeriTuru }}</td>
                    <td>{{ .DbAlanAdi }}</td>
                    <td>{{ .DbAlanVeriTuru }}</td>
                    <td>{{ .HtmlInputType }}</td>
                    <td>{{ .IsForeignKey }}</td>
                    <td>{{ .Requered }}</td>
                    <td>{{ .MinLength }}</td>
                    <td>{{ .MaxLength }}</td>
                    <td>{{ .MinValue }}</td>
                    <td>{{ .MaxValue }}</td>
                    <td>{{ .RegexPatern }}</td>
                    <td>{{ .MasterTableName }}</td>
                    <td>{{ .LikeField }}</td>
{{end}}