{{define "form-field"}}

      
        IsId:<br>
        <input type="text" name="isid" value="{{.Data.IsId }}"><br>
     
        SinifId:<br>
        <input type="text" name="sinifid" value="{{.Data.SinifId }}"><br>
     
        AlanAdi:<br>
        <input type="text" name="alanadi" value="{{.Data.AlanAdi }}"><br>
     
        AlanVeriTuru:<br>
        <input type="text" name="alanverituru" value="{{.Data.AlanVeriTuru }}"><br>
     
        DbAlanAdi:<br>
        <input type="text" name="dbalanadi" value="{{.Data.DbAlanAdi }}"><br>
     
        DbAlanVeriTuru:<br>
        <input type="text" name="dbalanverituru" value="{{.Data.DbAlanVeriTuru }}"><br>
     

{{end}}