{{define "tablo-header"}}

     
        <th>Id</th>
      
        <th>IsId</th>
      
        <th>SinifId</th>
      
        <th>AlanAdi</th>
      
        <th>AlanVeriTuru</th>
      
        <th>DbAlanAdi</th>
      
        <th>DbAlanVeriTuru</th>
      
        <th>HtmlInputType</th>
     

{{end}}


{{define "tablo-column"}}

     
        <td>{{ .Id }}</td>
      
        <td>{{ .IsId }}</td>
      
        <td>{{ .SinifId }}</td>
      
        <td>{{ .AlanAdi }}</td>
      
        <td>{{ .AlanVeriTuru }}</td>
      
        <td>{{ .DbAlanAdi }}</td>
      
        <td>{{ .DbAlanVeriTuru }}</td>
      
        <td>{{ .HtmlInputType }}</td>
     

{{end}}