{{define "page-title"}} Alan Kart Tanıtımı{{end}}

{{define "page-body"}}

    <a href="alanler.html?Ara={{.Ara}}&id={{.KayitId2}}"><button> < </button></a>
    <a href="alanler.html?Ara={{.Ara}}&id={{.KayitId}}"><button> > </button></a>
    <a href="alan.html?id=0&MasterId={{.MasterId}}"><button> + </button></a>

    <form action="alanler.html?id=0" method="get">
        <input type="search" name="Ara" autofocus value="{{.Ara}}">
        <input type="submit" value="Ara">
    </form>

<table>
    <caption>
        <a>alan Listesi</a>
    </caption>

    <tr>
    {{template "tablo-header" .}}

     <th>İşlev</th>
    </tr>

    {{range .Data}}
    <tr>
        {{template "tablo-column" .}}

        <td><a href="\alan.html?id={{.Id}}"> Detay </a>
        <a href="\sinifler.html?id={{.Id}}"> Sinif </a></td>

    </tr>
    {{end}}

</table>

{{end}}
