{{define "page-title"}} Proje Tanıtımı{{end}}

{{define "page-body"}}

    <form action="projekaydet" method="post">

    {{template "form-field" .}}

    <input type="submit" value="Kaydet">

        <a href="projecreate?id={{.Data.Id}}"><input type="button" value="Proje Oluştur" /></a>

        <a href="projesil?id={{.Data.Id}}"><input type="button" value="Sil" onclick="return KayitSilinsinmi()" /></a>

        {{.Message }}

</form>


{{end}}

{{define "js"}}
    <script src="../js/faDialog.js"></script>
{{end}}