{{define "page-title"}} Proje Kart Tanıtımı{{end}}


{{define "page-body"}}




    <a href="projeler.html?Ara={{.Ara}}&id={{.KayitId2}}"><button> < </button></a>
    <a href="projeler.html?Ara={{.Ara}}&id={{.KayitId}}"><button> > </button></a>
    <a href="proje.html?id=0&MasterId={{.MasterId}}"><button> + </button></a>

    <form action="projeler.html?id=0" method="get">
        <input type="search" name="Ara" autofocus value="{{.Ara}}">
        <input type="submit" value="Ara">
    </form>

<table>
    <caption>
        <a>proje Listesi</a>
    </caption>

    <tr>
    {{template "tablo-header" .}}

     <th>İşlev</th>
    </tr>

    {{range .Data}}
    <tr>
        {{template "tablo-column" .}}

        <td><a href="\proje.html?id={{.Id}}"> Detay </a>
        <a href="\sinifler.html?id={{.Id}}"> Sinif </a></td>

    </tr>
    {{end}}

</table>

{{end}}
