{{define "page-title"}} Sinif Kart Tanıtımı{{end}}

{{define "page-body"}}

    <a href="sinifler.html?Ara={{.Ara}}&id={{.KayitId2}}"><button> < </button></a>
    <a href="sinifler.html?Ara={{.Ara}}&id={{.KayitId}}"><button> > </button></a>
    <a href="sinif.html?id=0&MasterId={{.MasterId}}"><button> + </button></a>

    <form action="sinifler.html?id=0" method="get">
        <input type="search" name="Ara" autofocus value="{{.Ara}}">
        <input type="submit" value="Ara">
    </form>

<table>
    <caption>
        <a>sinif Listesi</a>
    </caption>

    <tr>
    {{template "tablo-header" .}}

     <th>İşlev</th>
    </tr>

    {{range .Data}}
    <tr>
        {{template "tablo-column" .}}

        <td><a href="\sinif.html?id={{.Id}}"> Detay </a>
        <a href="\alanler.html?id={{.Id}}"> Alanlar </a></td>

    </tr>
    {{end}}

</table>

{{end}}
