{{define "form-field"}}
                    <input type="hidden" name="id" value="{{.Data.Id }}">
                    <input type="hidden" name="projeid" value="{{.Data.ProjeId }}">
                    SinifAdi :<br>
                    <input type="text" name="sinifadi" value="{{.Data.SinifAdi }}"><br>
                    TabloAdi :<br>
                    <input type="text" name="tabloadi" value="{{.Data.TabloAdi }}"><br>
                    DetailTablo :<br>
                    <input type="text" name="detailtablo" value="{{.Data.DetailTablo }}"><br>
{{end}}